<h1>
    <inline-edit object="athlete" attribute="name" endpoint="athletes" prefix="athlete"></inline-edit>
</h1>

<h2>
    <inline-edit object="athlete" attribute="weight" endpoint="athletes" prefix="athlete"></inline-edit> lbs
</h2>
<h2>Activities:</h2>
<ul>
    <li ng-repeat="activity in activities">
        On {{activity.started_at | date:'medium'}},
        <inline-edit object="athlete" attribute="name" endpoint="athletes" prefix="athlete"></inline-edit>
        rode
        <inline-edit object="activity" attribute="distance" endpoint="activities" prefix="activity"></inline-edit>
        miles and climbed
        <inline-edit object="activity" attribute="elevation_gain" endpoint="activities" prefix="activity"></inline-edit>
        feet.
    </li>
</ul>